<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->

    <!-- DataTables -->
    <link href="<%= process.env.AAP_URL %>public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <link href="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="<%= process.env.AAP_URL %>public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <!--sweetalert-->
    <link href="<%= process.env.AAP_URL %>public/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet"
        type="text/css">
    <!--bootstrap5.0.2.min-->
    <link href="<%= process.env.AAP_URL %>public/assets/css/bootstrap5.0.2.min.css" rel="stylesheet" type="text/css">

    <style>
        /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    </style>
    <%- contentFor('body') %>

        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Therapist List</h4>
                            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Therapist</a></li>
                                <li class="breadcrumb-item active">Therapist List</li>
                            </ol> -->
                            <% if(auth_data.role=="super_admin" ){ %>
                                <div class="state-information d-none d-sm-block">
                                    <div class="state-graph">
                                        <button type="button" onclick="reset_form()" class="btn btn-success waves-effect" data-toggle="modal"
                                            data-target=".therapist_modal"> <i class=" fas fa-plus "></i> Create
                                            Therapist</button>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div id="alert_msg" style="display: none;">
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <table id="datatable-buttons"
                                    class="table table-striped table-hover nowrap"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>F Name</th>
                                            <th>L Name</th>
                                            <th>Mail ID</th>
                                            <%- (auth_data.role=="super_admin" )? '<th>Contact No</th>' : '' %>
                                                <th>Free sessions</th>
                                                <th>Paid Sessions</th>
                                                <th>Total Sessions</th>
                                                <th>Status</th>
                                                <%- (auth_data.role=="super_admin" )? '<th>Action</th>' : '' %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% therapistlist.forEach(data=> { %>
                                            <tr>
                                                <td>
                                                    <%= data.id %>
                                                </td>
                                                <td>
                                                    <%= data.f_name %>
                                                </td>
                                                <td>
                                                    <%= data.l_name %>
                                                </td>
                                                <td>
                                                    <%= data.email %>
                                                </td>
                                                <%- (auth_data.role=="super_admin" )? '<td>' +data.mobile+'</td>' : ''
                                                    %>
                                                    <td>-</td>
                                                    <td><%= data.book_schedule %></td>
                                                    <td><%= data.book_schedule %></td>
                                                    <td>
                                                        <% if(data.status==1){ %>
                                                            <span class="badge badge-success"
                                                                style="font-size: 120%;">Active</span>
                                                            <% }else if(data.status==2){ %>
                                                                <span class="badge badge-warning"
                                                                    style="font-size: 120%;">Pending</span>
                                                                <% }else{ %>
                                                                    <span class="badge badge-danger"
                                                                        style="font-size: 120%;">Inactive</span>
                                                                    <% } %>
                                                    </td>
                                                    <% if(auth_data.role=="super_admin" ){ %>
                                                        <td>
                                                            <% if(data.status != 2){ %>
                                                            <button type="submit"
                                                                class="btn btn-outline-warning waves-effect waves-light"
                                                                data-toggle="tooltip" onclick="edit_data('<%= data.id %>')"
                                                                data-placement="top" title="Edit"><i
                                                                    class="far fa-edit"></i></button>
                                                                    <% } %>
                                                            <button type="submit"
                                                                class="btn btn-outline-danger waves-effect waves-light "
                                                                data-toggle="tooltip" onclick="delete_data('<%= data.id %>')"
                                                                data-placement="top" title="Delete"><i
                                                                        class="far fa-trash-alt"></i></button>
                                                            <% if(data.status==2){ %>
                                                                
                                                              <button type="submit"
                                                            class="btn btn-outline-info waves-effect waves-light "
                                                            data-toggle="tooltip" onclick="resend_email('<%= data.id %>')"
                                                            title="Resend Email "><i class="fa fa-envelope" aria-hidden="true"></i>
                                                        </button> 
                                                        <% } %>
                                                        </td>
                                                        <% } %>
                                            </tr>
                                            <% }); %>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- container-fluid -->
        </div> <!-- content -->

        <!--  Modal content for the above example -->
        <div class="modal fade bs-example-modal-lg therapist_modal" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <form class="" method="post" id="create_therapist"
                    action="<%= process.env.AAP_URL %>admin/therapist/create">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="myLargeModalLabel">Create Therapist</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>F Name</label>
                                                        <input type="text" name="f_name" class="form-control input" maxlength="30"  placeholder="F Name">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>L Name</label>
                                                        <input type="text" name="l_name" class="form-control input" maxlength="30"  placeholder="L Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Mail ID</label>
                                                        <input type="email" id="email" name="email" class="form-control input"
                                                             parsley-type="email" placeholder="User Mail ID">
                                                            <div class="email_error" id="email_checking" style="color: red;"></div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Therapist type</label>
                                                        <select class="form-control input" name="therapist_type"
                                                            id="create_therapist_type" >
                                                            <option value="">Select Type</option>
                                                            <option>ShivYog Master Cosmic Therapist</option>
                                                            <option>ShivYog Master Cognitive Therapist</option>
                                                            <option>ShivYog Cosmic Therapist</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <select  class="form-control country" onchange="statelist(this)" name="country" >
                                                            <option value="">Select Country</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>State</label>
                                                        <select  class="form-control state"  name="state" >
                                                            <option value="">Select State</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                           <!--  <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input type="password" name="password"
                                                            class="form-control input"  placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <select class="form-control input" name="status" >
                                                            <option value="">Select</option>
                                                            <option value="1">Active</option>
                                                            <option value="0">Deactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Language spoken</label>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="btn-check" name="language[]"
                                                                id="create_english_lan" value="English" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="create_english_lan">English</label>
                                                            <input type="checkbox" class="btn-check" name="language[]"
                                                                id="create_hindi_lan" value="Hindi" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="create_hindi_lan">Hindi</label>
                                                            <input type="checkbox" class="btn-check" name="language[]"
                                                                id="create_french_lan" value="French" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="create_french_lan">French</label>
                                                        </div>
                                                        <div id="language_error" style="color: red;"></div>
                                                    </div>
                                                </div>
												<div class="col-6">
                                                    <div class="form-group">
                                                        <label>Contact No</label>
                                                        <div class="row">
                                                            <div class="col-4" style="margin-right: -6%;">
                                                                <select  class="form-control country_code" name="country_code"
                                                                id="country_code" readonly>
                                                                <option value="">+</option>
                                                                
                                                            </select>
                                                            </select>
                                                            </div>
                                                            <div class="col-8">
                                                                <input type="tel" data-parsley-type="digits"
                                                                maxlength="10" minlength="10" title="Please enter at least 10 digits" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" name="mobile"
                                                                class="form-control input" 
                                                                placeholder="User Contact No"  style="width: 108%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Hourly price</label>
                                                        <input type="text" data-parsley-type="digits"
                                                            name="hourly_price" pattern="[0-9]+" step="any" class="form-control input"
                                                            id="create_hourly_price" 
                                                            placeholder="Hourly price (in $)">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>ShivYog share</label>
                                                        <input type="number" 
                                                            name="shivyog_share"  min="1" max="100" class="form-control input"
                                                            id="create_shivyog_share" 
                                                            placeholder="ShivYog share (in %)">
                                                    </div>
                                                </div>
                                               
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="create_therapy_experience">Therapist Share &nbsp; 
                                                            <input type="text" class="form-group" id="therapist_income" name="therapist_income" value=""  data-parsley-type="digits" style="width: 15%;" readonly> $ </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="create_therapy_experience">ShivYog Share &nbsp; 
                                                            <input type="text" class="form-group" id="shivYog_income" name="shivYog_income" value=""  data-parsley-type="digits" style="width: 15%;" readonly> $ </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Experience</label>
                                                        <div class="form-group">
                                                            
                                                            <label for="create_therapy_experience">ShivYog therapy Experience &nbsp; 
                                                                <input type="text" class="form-group" name="create_therapy_experience"    pattern="[0-9]+"    value="0" min="0"  max="99" data-parsley-type="digits" style="width: 15%;" > Yrs </label>
                                                            <label for="create_cosmic_therapy_experience">ShivYog cosmic therapy Experience  &nbsp; 
                                                                <input type="text" class="form-group" name="create_cosmic_therapy_experience" pattern="[0-9]+" value="0" min="0"  max="99" data-parsley-type="digits" style="width: 15%;" > Yrs</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Expertise</label>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="btn-check" name="expertise[]"
                                                                id="create_cosmic_therapy_expertise"
                                                                value="ShivYog Cosmic Therapy" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="create_cosmic_therapy_expertise">ShivYog Cosmic
                                                                Therapy</label>
                                                            <input type="checkbox" class="btn-check" name="expertise[]"
                                                                id="create_cognitive_therapy_expertise"
                                                                value="ShivYog Cognitive Therapy" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="create_cognitive_therapy_expertise">ShivYog Cognitive
                                                                Therapy</label>
                                                        </div>
                                                        <div id="expertise_error" style="color: red;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Therapist Role</label>
                                                        <select class="form-control input" name="therapist_role"
                                                            id="create_therapist_role" >
                                                            <option value="">Select Role</option>
                                                            <option>Shiv Yog Therapist</option>
                                                            <option>Master therapist</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label>Profile Image</label>
                                                                    <input type="file" class="filestyle"
                                                                        name="profile_img" data-input="false"
                                                                        data-buttonname="btn-secondary">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect"
                                data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </div>
                    </div><!-- /.modal-content -->
                </form>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!--  Modal content for edit User -->
        <div class="modal fade bs-example-modal-lg update_therapist" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <form class="" id="update_therapist" method="post"
                    action="<%= process.env.AAP_URL %>admin/therapist/update">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="myLargeModalLabel">Edit Therapist</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>F Name</label>
                                                        <input type="text" name="f_name" class="form-control input" maxlength="30" 
                                                            id="f_name"  placeholder="F Name">
                                                        <input type="hidden" name="update_id" class="input"
                                                            id="update_id">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>L Name</label>
                                                        <input type="text"  name="l_name" class="form-control input" maxlength="30"
                                                            id="l_name"  placeholder="L Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Mail ID</label>
                                                        <input type="email" name="email" id="useremail"
                                                            class="form-control input"  parsley-type="email"
                                                            placeholder="User Mail ID">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Therapist type</label>
                                                        <select class="form-control input" name="therapist_type"
                                                            id="therapist_type" >
                                                            <option value="">Select Type</option>
                                                            <option>ShivYog Master Cosmic Therapist</option>
                                                            <option>ShivYog Master Cognitive Therapist</option>
                                                            <option>ShivYog Cosmic Therapist</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <select id="edit_country" class="form-control country" name="country" onchange="statelist(this)" >
                                                            <option value="">Select Country</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>State</label>
                                                        <select id="edit_state" class="form-control state input" name="state" >
                                                            <option value="">Select State</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <select class="form-control input" name="status" id="userstatus" >
                                                            <option value="1">Active</option>
                                                            <option value="0">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Language spoken</label>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="btn-check" name="language[]"
                                                                id="english_lan" value="English" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="english_lan">English</label>
                                                            <input type="checkbox" class="btn-check" name="language[]"
                                                                id="hindi_lan" value="Hindi" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="hindi_lan">Hindi</label>
                                                            <input type="checkbox" class="btn-check" name="language[]"
                                                                id="french_lan" value="French" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="french_lan">French</label>
                                                        </div>
                                                        <div id="update_language_error" style="color: red;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Hourly price</label>
                                                        <input type="text" 
                                                            name="hourly_price" pattern="[0-9]+" class="form-control input"
                                                            id="hourly_price" 
                                                            placeholder="Hourly price (in $)">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>ShivYog share</label>
                                                        <input type="number" 
                                                            name="shivyog_share"  min="1" max="100" class="form-control input"
                                                            id="shivyog_share" 
                                                            placeholder="ShivYog share (in %)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="create_therapy_experience">Therapist Share &nbsp; 
                                                            <input type="text" class="form-group" id="update_therapist_income" name="therapist_income" value=""  data-parsley-type="digits" style="width: 15%;" readonly> $ </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="create_therapy_experience">ShivYog Share &nbsp; 
                                                            <input type="text" class="form-group" id="update_shivYog_income" name="shivYog_income" value=""  data-parsley-type="digits" style="width: 15%;" readonly> $ </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
												<div class="col-6">
                                                    <div class="form-group">
                                                        <label>Contact No</label>
                                                        <div class="row">
                                                            <div class="col-4" style="margin-right: -6%;">
                                                                <select  class="form-control country_code con_code" name="country_code" id="con_code" readonly>  
																</select>
                                                            </div>
                                                            <div class="col-8">
                                                                <input type="text" data-parsley-type="digits"
                                                                maxlength="10" minlength="10" title="Please enter at least 10 digits" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" name="mobile"
                                                                class="form-control input" 
                                                                placeholder="User Contact No" id="usermobile" style="width: 108%;">
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label>Profile Image</label>
                                                                    <input type="file" class="filestyle"
                                                                        name="profile_img" data-input="false"
                                                                        data-buttonname="btn-secondary">
                                                                    <input type="hidden" name="old_image_name"
                                                                        class="input" value="" id="old_image_name">
                                                                </div>
                                                            </div>
                                                            <div class="col-3">
                                                                <div class="media m-b-30">
                                                                    <img src="http://localhost:8000/public/assets/images/users/user-4.jpg"
                                                                        style="width: 100%;margin-top: 25%; margin-bottom: -40%;margin-left: -69%;"
                                                                        class="d-flex align-self-start rounded mr-2"
                                                                        alt="" id="profile_image">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Experience</label>
                                                        <div class="form-group">
                                
                                                            <label for="therapy_experience">ShivYog therapy Experience   &nbsp; 
                                                                <input type="text" class="form-group" name="create_therapy_experience" id="exp1" min="0"  max="99" name="exp" value=""   style=" width: 15%;">Yrs</label>
                                                    
                                                            <label for="cosmic_therapy_experience">ShivYog Cosmic therapy Experience   &nbsp; 
                                                                <input type="text" class="form-group" name="create_cosmic_therapy_experience" id="exp2" min="0"  max="99" name="exp" value=""   style="width: 15%;">Yrs</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Expertise</label>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="btn-check" name="expertise[]"
                                                                id="cosmic_therapy_expertise"
                                                                value="ShivYog Cosmic Therapy" autocomplete="off"
                                                                 >
                                                            <label class="btn btn-outline-success"
                                                                for="cosmic_therapy_expertise">ShivYog Cosmic
                                                                Therapy</label>
                                                            <input type="checkbox" class="btn-check" name="expertise[]"
                                                                id="cognitive_therapy_expertise"
                                                                value="ShivYog Cognitive Therapy" autocomplete="off"
                                                                >
                                                            <label class="btn btn-outline-success"
                                                                for="cognitive_therapy_expertise">ShivYog Cognitive
                                                                Therapy</label>
                                                        </div>
                                                        <div id="update_expertise_error" style="color: red;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Therapist Role</label>
                                                        <select class="form-control input" name="therapist_role"
                                                            id="therapist_role" >
                                                            <option value="">Select Role</option>
                                                            <option>Shiv Yog Therapist</option>
                                                            <option>Master therapist</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect"
                                data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Update</button>
                        </div>
                    </div><!-- /.modal-content -->
                </form>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <%- contentFor('FooterJs') %>

            <!-- Required datatable js -->
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
            <!-- Buttons examples -->
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/dataTables.buttons.min.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.bootstrap4.min.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/jszip.min.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/pdfmake.min.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/vfs_fonts.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.html5.min.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.print.min.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.colVis.min.js"></script>
            <!-- Responsive examples -->
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/dataTables.responsive.min.js"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/datatables/responsive.bootstrap4.min.js"></script>

            <!-- Datatable init js -->
            <script
                src="<%= (auth_data.role == 'super_admin' ) ? process.env.AAP_URL+'public/assets/pages/super_admin_datatables.init.js' : process.env.AAP_URL+'public/assets/pages/admin_datatables.init.js'%>"></script>
            <script src="<%= process.env.AAP_URL %>public/plugins/parsleyjs/parsley.min.js"></script>
            <!--ajax form-->
            <script src="<%= process.env.AAP_URL %>public/plugins/ajax-form/jquery.form.min.js"></script>
            <!-- form validate -->
            <script src="<%= process.env.AAP_URL %>public/plugins/parsleyjs/jquery.validate.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js"></script>
            <!-- filestyle js -->
            <script
                src="<%= process.env.AAP_URL %>public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
            <!--sweetalert-->
            <script src="<%= process.env.AAP_URL %>public/plugins/sweet-alert2/sweetalert2.min.js"></script>
            <script>
               /*  $(document).ready(function () {
                    $('form').parsley();
                }); */
                countrylist();
                $.validator.addMethod("alpha", function(value, element) {
                    return this.optional(element) || value == value.match(/^[a-zA-Z]+$/);
                    },"Please Enter Only Letters");

                $.validator.addMethod('filesize', function (value, element, param) {
                    return this.optional(element) || (element.files[0].size <= param)
                }, 'File size must be less than 2MB');
               
                $.validator.addMethod("email", function(value, element) {
                    return this.optional(element) || value == value.match(/^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/);
                    },"Please Enter Valid Email Address ");
               
                $('#create_therapist').validate({ // initialize the plugin
                            errorClass: "error",
                            rules: {
                                f_name: {
                                    required: true,
                                    alpha:true
                                },
                                l_name: {
                                    required: true,
                                    alpha:true
                                },
                                email: {
                                    required: true,
                                    email: true
                                },
                                therapist_type: {
                                    required: true,
                                } ,
                                country: {
                                    required: true,
                                },
                                state: {
                                    required: true,
                                },
                                "language[]": {
                                    required: true,
                                },
                                mobile: {
                                    required: true,
                                },
                                hourly_price: {
                                    required: true,
                                },
                                shivyog_share: {
                                    required: true,
                                },
                                create_therapy_experience: {
                                    required: true,
                                },
                                create_cosmic_therapy_experience: {
                                    required: true,
                                },
                                "expertise[]": {
                                    required: true,
                                },
                                therapist_role: {
                                    required: true,
                                },
                                profile_img: {
                                    required: true,
                                    extension: "jpg,jpeg",
                                    filesize : 2 * 1024 * 1024,
                                } 

                            },
                            messages: {
                                f_name: {
                                    required: 'Please Enter FirstName',
                                },
                                l_name: {
                                    required: 'Please Enter LastName',
                                },
                                email: {
                                    required: 'Please Enter Email',
                                },
                                therapist_type: {
                                    required: "Please Select Therapist Type",
                                } ,
                                country: {
                                    required: 'Please Select Country',
                                },
                                state: {
                                    required: 'Please Select State',
                                },
                                "language[]": {
                                    required: "Please Select Language ",
                                },
                                mobile: {
                                    required: 'Please Enter MobileNumber',
                                },
                                hourly_price: {
                                    required: 'Please Enter Session Price',
                                },
                                shivyog_share: {
                                    required: 'Please Enter ShivYog Share',
                                },
                                create_therapy_experience: {
                                    required: 'Please Enter Therapy Experience',
                                },
                                create_cosmic_therapy_experience: {
                                    required: 'Please Enter Cosmic Therapy Experience',
                                },
                                "expertise[]": {
                                    required: "Please Select Expertise ",
                                },
                                therapist_role: {
                                    required: "Please Select Therapist Role ",
                                },
                                profile_img: {
                                    required: 'File size must be less than 2MB'
                                }
                            },
                            highlight: function (element) {
                                $(element).addClass('input_error');
                            },
                            unhighlight: function (element) {
                                $(element).removeClass('input_error');

                            } ,
                            errorPlacement: function (error, element) {
                                if (element.attr('name') == 'expertise[]') {
                                    error.appendTo('#expertise_error');
                                }
                                else if(element.attr('name') == 'language[]'){
                                    error.appendTo('#language_error');
                                }else{
                                    error.insertAfter(element);
                                }
                            } 
                        });


                        $('#update_therapist').validate({ // initialize the plugin
                            errorClass: "error",
                            rules: {
                                f_name: {
                                    required: true,
                                    alpha:true
                                },
                                l_name: {
                                    required: true,
                                    alpha:true
                                },
                                email: {
                                    required: true,
                                    email: true
                                },
                                therapist_type: {
                                    required: true,
                                } ,
                                country: {
                                    required: true,
                                },
                                state: {
                                    required: true,
                                },
                                status: {
                                    required: true,
                                },
                                "language[]": {
                                    required: true,
                                },
                                hourly_price: {
                                    required: true,
                                },
                                shivyog_share: {
                                    required: true,
                                },
                                mobile: {
                                    required: true,
                                },
                                profile_img: {
                                    required: true,
                                    extension: "jpg,jpeg",
                                    filesize : 2 * 1024 * 1024,
                                },
                                create_therapy_experience: {
                                    required: true,
                                },
                                create_cosmic_therapy_experience: {
                                    required: true,
                                },
                                "expertise[]": {
                                    required: true,
                                },
                                therapist_role: {
                                    required: true,
                                } 

                            },
                            messages: {
                                f_name: {
                                    required: 'Please Enter FirstName',
                                },
                                l_name: {
                                    required: 'Please Enter LastName',
                                },
                                email: {
                                    required: 'Please Enter Email',
                                },
                                therapist_type: {
                                    required: "Please Select Therapist Type",
                                } ,
                                country: {
                                    required: 'Please Select Country',
                                },
                                state: {
                                    required: 'Please Select State',
                                },
                                status: {
                                    required: 'Please Select Status',
                                },
                                "language[]": {
                                    required: "Please Select Language ",
                                },
                                hourly_price: {
                                    required: 'Please Enter Session Price',
                                },
                                shivyog_share: {
                                    required: 'Please Enter ShivYog Share',
                                },
                                mobile: {
                                    required: 'Please Enter MobileNumber',
                                },
                                profile_img: {
                                    required: 'File size must be less than 2MB'
                                },
                                create_therapy_experience: {
                                    required: 'Please Enter Therapy Experience',
                                },
                                create_cosmic_therapy_experience: {
                                    required: 'Please Enter Cosmic Therapy Experience',
                                },
                                "expertise[]": {
                                    required: "Please Select Expertise",
                                },
                                therapist_role: {
                                    required: "Please Select Therapist Role ",
                                } 
                            },
                            highlight: function (element) {
                                $(element).addClass('input_error');
                            },
                            unhighlight: function (element) {
                                $(element).removeClass('input_error');

                            } ,
                            errorPlacement: function (error, element) {
                                if (element.attr('name') == 'expertise[]') {
                                    error.appendTo('#update_expertise_error');
                                }
                                else if(element.attr('name') == 'language[]'){
                                    error.appendTo('#update_language_error');
                                }else{
                                    error.insertAfter(element);
                                }
                            } 
                        });


                $(document).ready(function () {
                    $('#create_therapist').ajaxForm({
                        beforeSubmit: function () {
                            
                        },
                        success: function (data) {
                            $(".input").val("");
                            $(".btn-check").prop('checked', false);
                            if (data.success == 1) {
                                $(".therapist_modal").modal("hide");
                                get_data(data.data);
                                alert_msg("success", data.message);
                            } else {
                                alert_msg("error", data.message);
                            }
                        },
                        complete: function (xhr) {

                        }
                    });
                });
                function delete_data(id) {
                    swal({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger m-l-10',
                        confirmButtonText: 'Yes, delete it!'
                    }).then(function () {
                        $.ajax({
                            url: "<%= process.env.AAP_URL %>admin/therapist/delete/" + id,
                            type: "get",
                            dataType: "json",
                            success: function (data) {
                                if (data.success == 1) {
                                    get_data(data.data);
                                    alert_msg("success", data.message);
                                } else {
                                    alert_msg("error", data.message);
                                }

                            }
                        });
                    });
                }
                function edit_data(edit_id) {
                    $.ajax({
                        url: "<%= process.env.AAP_URL %>admin/therapist/edit/" + edit_id,
                        type: "get",
                        dataType: "json",
                        success: function (data) {
                            $(".error").remove();
                            $(".input").val("");
                            $(".btn-check").prop('checked', false);
                            if (data.success == 1) {
                                $.each(data.data, function (index, value) {
                                    if (index == 0) {
                                        $("#update_id").val(value.id);
                                        $("#f_name").val(value.f_name);
                                        $("#l_name").val(value.l_name);
                                        $("#useremail").val(value.email);
                                        $("#usermobile").val(value.mobile);
                                        $("#userstatus").val(value.status);
                                        $("#old_image_name").val(value.profile_image);
										var cc = "<option value='"+value.country_code+"' selected>+"+value.country_code+"</option>";
										$(".con_code").html(cc);
                                        
                                        $("#profile_image").attr("src", "<%=process.env.AAP_URL%>images/" + value.profile_image);
                                    } else if (index == 1) {
                                        edit_statelist(value.country_id,value.state_id);
                                        $("#edit_country").val(value.country_id);
                                       
                                        $("#hourly_price").val(value.hourly_price);
                                        $("#shivyog_share").val(value.shivyog_share);

                                        const cost =  value.hourly_price;         
                                        const perc = value.shivyog_share;
                                        const cal = (cost * perc)/100;
                                        const total = cost - cal;
                                        $('#update_shivYog_income').val(cal);
                                        $('#update_therapist_income').val(total);


                                        var abc =JSON.stringify (value.experience);
                                        var exp_thera = abc.split(',');
                                        
                                        $("#therapist_type").val(value.therapist_type);
                                        $("#therapist_role").val(value.therapist_role);
                                        $("#exp1").val(exp_thera[1]);
                                        $("#exp2").val(exp_thera[4]);
                                        /* if (value.experience) {
                                            if ($.inArray("ShivYog therapy Experience", value.experience) != -1) {
                                                $("#therapy_experience").prop('checked', true);
                                            }
                                            if ($.inArray("ShivYog cosmic therapy Experience", value.experience) != -1) {
                                                $("#cosmic_therapy_experience").prop('checked', true);
                                            }
                                            
                                        } */
                                        if (value.expertise) {
                                            if ($.inArray("ShivYog Cosmic Therapy", value.expertise) != -1) {
                                                $("#cosmic_therapy_expertise").prop('checked', true);
                                            }
                                            if ($.inArray("ShivYog cognitive Therapy", value.expertise) != -1) {
                                                $("#cognitive_therapy_expertise").prop('checked', true);
                                            }
                                        }
                                        if (value.language) {
                                            if ($.inArray("English", value.language) != -1) {
                                                $("#english_lan").prop('checked', true);
                                            }
                                            if ($.inArray("Hindi", value.language) != -1) {
                                                $("#hindi_lan").prop('checked', true);
                                            }
                                            if ($.inArray("French", value.language) != -1) {
                                                $("#french_lan").prop('checked', true);
                                            }
                                        }
                                    }
                                });
                                $(".update_therapist").modal("show");
                            } else {
                                alert_msg("error", data.message);
                            }

                        }
                    });
                }

                

                $(document).ready(function () {
                    $('#update_therapist').ajaxForm({
                        beforeSubmit: function () {    
                        },
                        success: function (data) {
                            $(".input").val("");
                            $(".btn-check").prop('checked', false);
                            if (data.success == 1) {
                                $(".update_therapist").modal("hide");
                                get_data(data.data);
                                alert_msg("success", data.message);
                            } else {
                                alert_msg("error", data.message);
                            }
                        },
                        complete: function (xhr) {

                        }
                    });
                });


                //email Chack
                $('#email').keyup(function(){
                    if($("#email").val())
                    {
                        $.ajax({
                        type: "POST",
                        url: "<%= process.env.AAP_URL %>admin/therapist/email_check",
                        data: {email:$("#email").val()}, 
                        success: function(data) { 
                                if( data.data > 0) { 
                                    $("#email_checking").html("Email is already exist.");
                                    return false;
                                } else { // else blank response
                                
                                        $("#email_checking").html("");
                
                                }
                                }
                            });
                    }
                    $("#email_checking").html(""); 
                }); 


                // Income share
                $('#create_shivyog_share').keyup(function(){
                    const cost = $('#create_hourly_price').val();
                    const perc = $('#create_shivyog_share').val();

                    const cal = (cost * perc)/100;
                    const total = cost - cal;
                    $('#shivYog_income').val(cal);
                    $('#therapist_income').val(total);
                })

                $('#create_hourly_price').keyup(function(){
                    const cost = $('#create_hourly_price').val();
                    const perc = $('#create_shivyog_share').val();

                    const cal = (cost * perc)/100;
                    const total = cost - cal;
                    $('#shivYog_income').val(cal);
                    $('#therapist_income').val(total);
                })

                $('#shivyog_share').keyup(function(){
                    const cost =  $("#hourly_price").val();
                           console.log(cost);          
                    const perc = $("#shivyog_share").val();
                    console.log(perc);
                    const cal = (cost * perc)/100;
                    console.log(cal);

                    const total = cost - cal;
                    console.log(total);

                    $('#update_shivYog_income').val(cal);
                    $('#update_therapist_income').val(total);
                })

                $('#hourly_price').keyup(function(){
                    const cost =  $("#hourly_price").val();
                           console.log(cost);          
                    const perc = $("#shivyog_share").val();
                    console.log(perc);
                    const cal = (cost * perc)/100;
                    console.log(cal);

                    const total = cost - cal;
                    console.log(total);

                    $('#update_shivYog_income').val(cal);
                    $('#update_therapist_income').val(total);
                })

                function get_data(data) {
                    var data_table = $('#datatable-buttons').DataTable();
                    data_table.clear().draw();
                    $.each(data, function (index, value) {
                        var status_html = '';
                        var action = ""
                        if(value.status != 2)
                        {
                            action += '<button type="submit" class="btn btn-outline-warning waves-effect waves-light" onclick="edit_data(' + "'" + value.id + "'" + ')" data-toggle="tooltip" data-placement="top" title="Edit"><i class="far fa-edit"></i></button>';
                        }
                        action += ' <button type="submit" class="btn btn-outline-danger waves-effect waves-light" onclick="delete_data(' + "'" + value.id + "'" + ')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></button>';
                         if (value.status == 1) {
                            status_html = '<span class="badge badge-success" style="font-size: 120%;">Active</span>';
                        } else if(value.status == 2) {
                            action += ' <button type="submit" class="btn btn-outline-info waves-effect waves-light" onclick="resend_email(' + "'" + value.id + "'" + ')" data-toggle="tooltip" data-placement="top" title="Resend Email"><i class="fa fa-envelope" aria-hidden="true"></i></button>';
                            status_html = '<span class="badge badge-warning" style="font-size: 120%;">Pending</span>';
                        }else{
                            status_html = '<span class="badge badge-danger" style="font-size: 120%;">Inactive</span>';
                        }

                        data_table.row.add([value.id, (value.f_name) ? value.f_name : '', value.l_name, value.email, value.mobile, '-', '-', '-', status_html, action]).draw(false);
                    });
                }

                

                function countrylist() {
                    $.get('<%= process.env.AAP_URL %>admin/country',
                    {},
                    function(data){
                        if(data.success == 1)
                        {                          
                           var html = '<option value="">Select Country</option>';
                           $.each(data.data, function (index, value) {
                                html += '<option value="'+value.id+'">'+value.name+'</option>';
                            });
                             $(".country").html(html);
                          }
                    },
                    'json');
                }

                function statelist(country_id){                    
                    $.post('<%= process.env.AAP_URL %>admin/state',
                    {
                        country_id:country_id.value
                    },
                    function(data){
                        if(data.success == 1)
                        {                         
                           
                           var html = '<option value="">Select State</option>';
                           $.each(data.data, function(index, val) {
                                html += '<option value="'+val.id+'">'+val.name+'</option>';
                            });
                             $(".state").html(html);                             
                          }
                    },
                     'json');
					 
					 
					 $.post('<%= process.env.AAP_URL %>admin/country_code',
                    {
                        country_id:country_id.value
                    },
                    function(data){
                        if(data.success == 1)
                        {                         
                               var html = '<option value="'+data.data.phonecode+'">+'+data.data.phonecode+'</option>';
                           
                             $(".country_code").html(html);
                          }
                    },
                     'json');
					 
                   
                }
				
				
                function edit_statelist(country_id,state_id = null) {
                    $.post('<%= process.env.AAP_URL %>admin/state',
                    {
                        country_id:country_id
                    },
                    function(data){
                        if(data.success == 1)
                        {                         
                           
                           var html = '<option value="">Select State</option>';
                           $.each(data.data, function(index, val) {
                                html += '<option value="'+val.id+'">'+val.name+'</option>';
                            });
                             $("#edit_state").html(html);
                             if(state_id)
                             {
                                $("#edit_state").val(state_id);
                             }
                             
                          }
                    },
                     'json');
					 
					 
                   
                }
                
                function alert_msg(status, msg) {
                    //(success,danger)
                    if (status != "success") {
                        status = "danger";
                    }
                    var html = '';
                    html += '<div class="alert alert-' + status + ' alert-dismissible fade show" id="alert_success" role="alert">';
                    html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
                    html += '<span aria-hidden="true">&times;</span>';
                    html += '</button>';
                    html += '<div class="msg">' + msg + '</div>';
                    html += '</div>';
                    $("#alert_msg").html(html);
                    $("#alert_msg").show();
                    setTimeout(function () {
                        $('#alert_msg').hide();
                    }, 5000);
                }

                function reset_form(){
                    $(".input_error").removeClass('input_error');
                    $(".error").remove();
                    $("#email_checking").html("");
                    $("#create_therapist").trigger('reset');
                }

                function resend_email(id){
                    $.ajax({
                        type: "POST",
                        url: "<%= process.env.AAP_URL %>admin/resend_therapist_email",
                        data: {user_id: id}, 
                        success: function(data) { 
                            if (data.success == 1) {
                                alert_msg("success", data.message);
                            } else {
                                alert_msg("error", data.message);
                            } 
                        }
                    }) 
                }
            </script>