<!-- jQuery  -->
<script src="<%= process.env.AAP_URL %>public/assets/js/jquery.min.js"></script>
<script src="<%= process.env.AAP_URL %>public/assets/js/bootstrap.bundle.min.js"></script>
<script src="<%= process.env.AAP_URL %>public/assets/js/metisMenu.min.js"></script>
<script src="<%= process.env.AAP_URL %>public/assets/js/jquery.slimscroll.js"></script>
<script src="<%= process.env.AAP_URL %>public/assets/js/waves.min.js"></script>

<script src="<%= process.env.AAP_URL %>public/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- validate -->
<script src="<%= process.env.AAP_URL %>public/plugins/parsleyjs/parsley.min.js"></script>
<!--ajax Form-->
<script src="<%= process.env.AAP_URL %>public/plugins/ajax-form/jquery.form.min.js"></script>

<!-- App js -->
<script src="<%= process.env.AAP_URL %>public/assets/js/app.js"></script>


<script>
  $(document).ready(function () {
    $('form').parsley();
  });
  $(document).ready(function () {
    $('#generator_password').ajaxForm({
      beforeSubmit: function () {
      },
      success: function (data) {
        if (data.success == 1) {
          window.location.href = "<%= process.env.AAP_URL %>thankyou";
        } else {
          alert_msg("error", data.message);
        }
      },
      complete: function (xhr) {

      }
    });
  });

  function alert_msg(status, msg) {
    //(success,danger)
    if (status != "success") {
      status = "danger";
    }
    var html = '';
    html += '<div class="alert alert-' + status + ' alert-dismissible fade show" id="alert_success" role="alert">';
    html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
    html += '<span aria-hidden="true">&times;</span>';
    html += '</button>';
    html += '<div class="msg">' + msg + '</div>';
    html += '</div>';
    $("#alert_msg").html(html);
    $("#alert_msg").show();
    setTimeout(function () {
      $('#alert_msg').hide();
    }, 5000);
  }
</script>
</body>

</html>