<script src="<%= process.env.AAP_URL %>public/assets/js/jquery.min.js"></script>

<script src="<%= process.env.AAP_URL %>public/assets/js/bootstrap.bundle.min.js"></script>
<script src="<%= process.env.AAP_URL %>public/assets/js/metisMenu.min.js"></script>
<script src="<%= process.env.AAP_URL %>public/assets/js/jquery.slimscroll.js"></script>
<script src="<%= process.env.AAP_URL %>public/assets/js/waves.min.js"></script>
<script src="<%= process.env.AAP_URL %>public/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<!--ajax form-->
<script src="<%= process.env.AAP_URL %>public/plugins/ajax-form/jquery.form.min.js"></script>
<script>

  $.validator.addMethod("regx", function (value, element, regexpr) {
    return regexpr.match(/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/);
  }, "Please enter a valid Password.");

  $("#reset_password").validate({
    errorClass: "error",
    rules: {
      current_password: {
        required: true
      },
      new_password: {
        required: true
      },
      conpassword: {
        required: true,
        equalTo: new_password
      }
    },
    messages: {
      current_password: {
        required: "Please enter Current Password",
      },
      new_password: {
        required: "<em>A minimum 8 characters password contains a combination of one <strong>uppercase and lowercase letter</strong> and one <strong>number</strong> and one <strong>Special character</strong>.</em>",
      },
      conpassword: {
        required: "Please enter Confirm-Password",
      }
    },
     highlight: function (element) {
        $(element).addClass('input_error');
    },
    unhighlight: function (element) {
        $(element).removeClass('input_error');

    }  
    /*  errorPlacement: function (error, element) {
      $(element).parents('.form-group').append(error)
    }  */ 
  });

  $(document).ready(function () {

    $('#reset_password').ajaxForm({
      beforeSubmit: function () { },
      success: function (data) {
        if (data.success == 1) {
          reset_password_alert("success", data.message);
          $(".error").remove();
          $(".input").val("");
          $("#reset_password_modal").modal('hide');
        } else {
          reset_password_alert("error", data.message);
        }
      },
      error: function (error) {

      },
      complete: function (xhr) {
      }
    });
  });

  $(document).ready(function () {
    setTimeout(function () {
      $('#Message').hide();
    }, 30);
  });

  function reset_password_alert(status,msg) {
    if (status != "success") {
      status = "danger";
    }
    var html = '';
    html += '<div class="alert alert-' + status + ' alert-dismissible fade show" id="alert_success" role="alert">';
    html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
    html += '<span aria-hidden="true">&times;</span>';
    html += '</button>';
    html += '<div class="msg">' + msg + '</div>';
    html += '</div>';
    $(".reset_password_alert").html(html);
    $(".reset_password_alert").show();
    setTimeout(function () {
      $('.reset_password_alert').hide();
    }, 5000);
  }

  $(document).ready(function () {
    $("#current_password_eye").click(function () {
      if ($("#current_password").attr("type") === "password") {
        $("#current_password").attr("type", "text");
        $(this).html('<span class="input-group-text"><i class="mdi mdi-eye-off"></i></span>');
      } else {
        $("#current_password").attr("type", "password");
        $(this).html('<span class="input-group-text"><i class="mdi mdi-eye"></i></span>');
      }
    });
  });

  $(document).ready(function () {
    $("#password_eye").click(function () {
      if ($("#new_password").attr("type") === "password") {
        $("#new_password").attr("type", "text");
        $(this).html('<span class="input-group-text"><i class="mdi mdi-eye-off"></i></span>');
      } else {
        $("#new_password").attr("type", "password");
        $(this).html('<span class="input-group-text"><i class="mdi mdi-eye"></i></span>');
      }
    });
  });

  $(document).ready(function () {
    $("#conpassword_eye").click(function () {
      if ($("#conpassword").attr("type") === "password") {
        $("#conpassword").attr("type", "text");
        $(this).html('<span class="input-group-text"><i class="mdi mdi-eye-off"></i></span>');
      } else {
        $("#conpassword").attr("type", "password");
        $(this).html('<span class="input-group-text"><i class="mdi mdi-eye"></i></span>');
      }
    });
  });

    function reset_form(){
        $(".error").removeClass('error');
         $(".error").remove(); 
        $("#reset_password").trigger('reset');
    }  
</script>