<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->

    <!-- DataTables -->

    <link href="<%= process.env.AAP_URL %>public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <link href="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="<%= process.env.AAP_URL %>public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet"
        type="text/css" />
    <!--sweetalert-->
    <link href="<%= process.env.AAP_URL %>public/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet"
        type="text/css">
    <!--bootstrap5.0.2.min-->
    <link href="<%= process.env.AAP_URL %>public/assets/css/bootstrap5.0.2.min.css" rel="stylesheet" type="text/css">

    <!--timepicker-->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>public/timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <%- contentFor('body') %>
        <style>
            .error {
                font-size: 12px;
                list-style: none;
                color: #ec536c;
                margin-top: 5px;
            }

            .input_error {
                border-color: #ec536c;
            }

            .center {
                text-align: center;
            }
        </style>
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Schedule List</h4>
                            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Schedule</a></li>
                                <li class="breadcrumb-item active">Schedule List</li>
                            </ol> -->

                            <div class="state-information d-none d-sm-block">
                                <div class="state-graph">
                                    <button type="button" class="btn btn-success waves-effect" data-toggle="modal"
                                        data-target=".create_modal"> <i class=" fas fa-plus "></i> Create
                                        Schedule</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div id="alert_msg" style="display: none;">
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <table id="datatable-buttons" class="table table-striped table-bordered nowrap"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Schedule Date</th>
                                            <th>Schedule Time</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(rec=> { %>
                                            <tr>
                                                <td>
                                                    <%= rec.therapist_schedule_id %>
                                                </td>
                                                <td>
                                                    <%= rec.schedule_date %>
                                                </td>
                                                <td>
                                                    <button type="submit"
                                                    class="btn btn-outline-primary waves-effect waves-light "
                                                    data-toggle="" onclick="show_schedual_time('<%= rec.therapist_schedule_id %>')"
                                                    data-placement="top" title="Schedule time"><i class="fas fa-calendar-alt"></i></button>
                                                    <!-- <%= rec.schedule %> -->
                                                </td>
                                                <td>
                                                    <% if(rec.therapist_schedule_status==1){ %>
                                                        <span class="badge badge-success"
                                                            style="font-size: 120%;">Active</span>
                                                        <% }else{ %>
                                                            <span class="badge badge-danger"
                                                                style="font-size: 120%;">Inactive</span>
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <button type="submit"
                                                        class="btn btn-outline-warning waves-effect waves-light"
                                                        data-toggle="" onclick="edit_data(' <%=rec.therapist_schedule_id %>')"
                                                        data-placement="top" title="Edit"><i
                                                            class="far fa-edit"></i></button>
                                                    <button type="submit"
                                                        class="btn btn-outline-danger waves-effect waves-light "
                                                        data-toggle="" onclick="delete_data('<%= rec.therapist_schedule_id %>')"
                                                        data-placement="top" title="Delete"><i
                                                            class="far fa-trash-alt"></i></button>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- container-fluid -->
        </div> <!-- content -->

        <!--  Modal content for the above example -->
        <div class="modal fade bs-example-modal-lg create_modal" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <form class="" method="post" id="create_form"
                    action="<%= process.env.AAP_URL %>therapist/schedule/create">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="myLargeModalLabel">Create Schedule</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <button class="btn btn-secondary input" type="button" id="back"
                                                        onclick="backlobby()"> Back </button>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3" id="picker">
                                                        <button class="btn btn-secondary input center"
                                                            onclick="timepicker()" type="button">Customize</button>
                                                    </div>
                                                </div> 
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <% var date=new Date(); date.setDate(date.getDate() + 1); %>
                                                            <label>Schedule Date</label>
                                                            <input type="date" name="schedule_date"
                                                                min="<%=date.toISOString().substr(0, 10)%>"
                                                                id="schedule_date" class="form-control input" required>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <select class="form-control input" name="status" required>
                                                            <option value="">Select</option>
                                                            <option value="1">Active</option>
                                                            <!-- <option value="0">Inactive</option> -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="schedule_time">
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <div class="input-group bootstrap-timepicker timepicker">
                                                            <input name="start_time[]" type="text"
                                                                class="form-control  timepicker1" autocomplete="off"
                                                                required >
                                                            <div class="input-group-addon input-group-text"><i
                                                                    class="far fa-clock clock-time "></i></div>
                                                        </div>
                                                    </div>
                                                    <div id="start_time_error" style="color: red;"></div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <div class="input-group bootstrap-timepicker timepicker">
                                                            <input name="end_time[]" type="text"
                                                                class="form-control input timepicker2"
                                                                autocomplete="off" required >
                                                            <div class="input-group-addon input-group-text"><i
                                                                    class="far fa-clock clock-time"></i></div>
                                                        </div>
                                                    </div>
                                                    <div id="end_time_error" style="color: red;"></div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="form-group">
                                                        <div class="input-group-addon">
                                                            <div id="add1" class="form-control">+</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p id="append_timebox"></p>
                                                </div>
                                            </div>
                                            <div class="row" id="time">
                                                <label>Schedule Time</label>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="12amto01am" value="12:00 AM to 01:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="12amto01am">12:00 AM
                                                            To 01:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="01amto02am" value="01:00 AM to 02:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="01amto02am">01:00 AM
                                                            To 02:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="02amto03am" value="02:00 AM to 03:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="02amto03am">02:00 AM
                                                            To 03:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="03amto04am" value="03:00 AM to 04:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="03amto04am">03:00 AM
                                                            To 04:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="04amto05am" value="04:00 AM to 05:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="04amto05am">04:00 AM
                                                            To 05:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="05amto06am" value="05:00 AM to 06:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="05amto06am">05:00 AM
                                                            To 06:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="06amto07am" value="06:00 AM to 07:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="06amto07am">06:00 AM
                                                            To 07:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="07amto08am" value="07:00 AM to 08:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="07amto08am">07:00 AM
                                                            To 08:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="08amto09am" value="08:00 AM to 09:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="08amto09am">08:00 AM
                                                            To 09:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="09amto010am" value="09:00 AM to 10:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="09amto010am">09:00
                                                            AM To 10:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="10amto11am" value="10:00 AM to 11:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="10amto11am">10:00 AM
                                                            To 11:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="11amto12am" value="11:00 AM to 12:00 AM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="11amto12am">11:00 AM
                                                            To 12:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="12pmto01pm" value="12:00 PM to 01:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="12pmto01pm">12:00 PM
                                                            To 01:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="01pmto02pm" value="01:00 PM to 02:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="01pmto02pm">01:00 PM
                                                            To 02:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="02pmto03pm" value="02:00 PM to 03:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="02pmto03pm">02:00 PM
                                                            To 03:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="03pmto04pm" value="03:00 PM to 04:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="03pmto04pm">03:00 PM
                                                            To 04:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="04pmto05pm" value="04:00 PM to 05:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="04pmto05pm">04:00 PM
                                                            To 05:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="05pmto06pm" value="05:00 PM to 06:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="05pmto06pm">05:00 PM
                                                            To 06:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="06pmto07pm" value="06:00 PM to 07:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="06pmto07pm">06:00 PM
                                                            To 07:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="07pmto08pm" value="07:00 PM to 08:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="07pmto08pm">07:00 PM
                                                            To 08:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="08pmto09pm" value="08:00 PM to 09:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="08pmto09pm">08:00 PM
                                                            To 09:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="09pmto010pm" value="09:00 PM to 10:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="09pmto010pm">09:00
                                                            PM To 10:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="10pmto11pm" value="10:00 PM to 11:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="10pmto11pm">10:00 PM
                                                            To 11:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check" name="schedule_time[]"
                                                            id="11pmto12pm" value="11:00 PM to 12:00 PM"
                                                            autocomplete="off">
                                                        <label class="btn btn-outline-success" for="11pmto12pm">11:00 PM
                                                            To 12:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <div id="schedule_time_error" style="color: red;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect"
                                data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </div>
                    </div><!-- /.modal-content -->
                </form>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!--  Modal content for edit User -->
        <div class="modal fade bs-example-modal-lg update_modal" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <form class="" id="update_form" method="post"
                    action="<%= process.env.AAP_URL %>therapist/schedule/update">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="myLargeModalLabel">Edit Schedule</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">
                                             <div class="row">
                                                <div class="col-2">
                                                    <button class="btn btn-secondary input" type="button" id="update_back"
                                                        onclick="update_backlobby()" > Back </button>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <button class="btn btn-secondary input center"
                                                            onclick="update_timepicker()" type="button" id="update_picker" >Customize</button>
                                                    </div>
                                                </div>
                                            </div><br> 
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <% var date=new Date(); date.setDate(date.getDate() + 1); %>
                                                            <label>Schedule Date</label>
                                                            <input type="date" name="schedule_date_update"
                                                                min="<%=date.toISOString().substr(0, 10)%>"
                                                                id="update_schedule_date" class="form-control input"
                                                                required>
                                                            <input type="hidden" name="update_id" id="update_id">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <select class="form-control input" id="update_status"
                                                            name="update_status" required>
                                                            <option value="">Select</option>
                                                            <option value="1">Active</option>
                                                            <option value="0">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="append_schedule" >
                                                
                                            </div>
                                             <div class="row" id="update_schedule_time">
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <div class="input-group bootstrap-timepicker timepicker">
                                                            <input name="start_time[]" type="text"
                                                                class="form-control input  timepicker1" autocomplete="off"
                                                                required>
                                                            <div class="input-group-addon input-group-text"><i
                                                                    class="far fa-clock clock-time "></i></div>
                                                        </div>
                                                    </div>
                                                    <div id="start_time_error" style="color: red;"></div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <div class="input-group bootstrap-timepicker timepicker">
                                                            <input name="end_time[]" type="text"
                                                                class="form-control input timepicker2"
                                                                autocomplete="off" required>
                                                            <div class="input-group-addon input-group-text"><i
                                                                    class="far fa-clock clock-time"></i></div>
                                                        </div>
                                                    </div>
                                                    <div id="end_time_error" style="color: red;"></div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="form-group">
                                                        <div class="input-group-addon">
                                                            <div id="add2" class="form-control">+</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p id="update_append_timebox"></p>
                                                </div>
                                            </div> 

                                            <div class="row" id="append_schedule" >
                                                
                                            </div>
                                            
                                            
                                            <div class="row"  id="update_time">
                                                <label>Schedule Time</label>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="12amto01am_schedule_time"
                                                            value="12:00 AM to 01:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="12amto01am_schedule_time">12:00 AM
                                                            To 01:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="01amto02am_schedule_time"
                                                            value="01:00 AM to 02:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="01amto02am_schedule_time">01:00 AM
                                                            To 02:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="02amto03am_schedule_time"
                                                            value="02:00 AM to 03:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="02amto03am_schedule_time">02:00 AM
                                                            To 03:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="03amto04am_schedule_time"
                                                            value="03:00 AM to 04:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="03amto04am_schedule_time">03:00 AM
                                                            To 04:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="04amto05am_schedule_time"
                                                            value="04:00 AM to 05:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="04amto05am_schedule_time">04:00 AM
                                                            To 05:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="05amto06am_schedule_time"
                                                            value="05:00 AM to 06:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="05amto06am_schedule_time">05:00 AM
                                                            To 06:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="06amto07am_schedule_time"
                                                            value="06:00 AM to 07:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="06amto07am_schedule_time">06:00 AM
                                                            To 07:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="07amto08am_schedule_time"
                                                            value="07:00 AM to 08:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="07amto08am_schedule_time">07:00 AM
                                                            To 08:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="08amto09am_schedule_time"
                                                            value="08:00 AM to 09:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="08amto09am_schedule_time">08:00 AM
                                                            To 09:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="09amto010a_schedule_timem"
                                                            value="09:00 AM to 10:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="09amto010a_schedule_timem">09:00
                                                            AM To 10:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="10amto11am_schedule_time"
                                                            value="10:00 AM to 11:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="10amto11am_schedule_time">10:00 AM
                                                            To 11:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="11amto12am_schedule_time"
                                                            value="11:00 AM to 12:00 AM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="11amto12am_schedule_time">11:00 AM
                                                            To 12:00 AM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="12pmto01pm_schedule_time"
                                                            value="12:00 PM to 01:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="12pmto01pm_schedule_time">12:00 PM
                                                            To 01:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="01pmto02pm_schedule_time"
                                                            value="01:00 PM to 02:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="01pmto02pm_schedule_time">01:00 PM
                                                            To 02:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="02pmto03pm_schedule_time"
                                                            value="02:00 PM to 03:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="02pmto03pm_schedule_time">02:00 PM
                                                            To 03:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="03pmto04pm_schedule_time"
                                                            value="03:00 PM to 04:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="03pmto04pm_schedule_time">03:00 PM
                                                            To 04:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="04pmto05pm_schedule_time"
                                                            value="04:00 PM to 05:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="04pmto05pm_schedule_time">04:00 PM
                                                            To 05:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="05pmto06pm_schedule_time"
                                                            value="05:00 PM to 06:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="05pmto06pm_schedule_time">05:00 PM
                                                            To 06:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="06pmto07pm_schedule_time"
                                                            value="06:00 PM to 07:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="06pmto07pm_schedule_time">06:00 PM
                                                            To 07:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="07pmto08pm_schedule_time"
                                                            value="07:00 PM to 08:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="07pmto08pm_schedule_time">07:00 PM
                                                            To 08:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="08pmto09pm_schedule_time"
                                                            value="08:00 PM to 09:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="08pmto09pm_schedule_time">08:00 PM
                                                            To 09:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="09pmto010p_schedule_timem"
                                                            value="09:00 PM to 10:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="09pmto010p_schedule_timem">09:00
                                                            PM To 10:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]" id="10pmto11pm_schedule_time"
                                                            value="10:00 PM to 11:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="10pmto11pm_schedule_time">10:00 PM
                                                            To 11:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <input type="checkbox" class="btn-check"
                                                            name="schedule_time_update[]"  id="11pmto12pm_schedule_time"
                                                            value="11:00 PM to 12:00 PM" autocomplete="off">
                                                        <label class="btn btn-outline-success"
                                                            for="11pmto12pm_schedule_time">11:00 PM
                                                            To 12:00 PM</label>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <div id="update_schedule_time_error" style="color: red;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect"
                                data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Update</button>
                        </div>
                    </div><!-- /.modal-content -->
                </form>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal fade" id="Modal_schedule_time" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
              
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myLargeModalLabel">Schedule Time</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                
                <div class="modal-body" style="margin: auto;">
                   <center>
                    <div class="row " id="therapist_time">
                       
                    </div>
                   </center>
                </div>
                
                
              </div>
            </div>
         </div>


        <%- contentFor('FooterJs') %>

            <<!-- Required datatable js -->
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/jquery.dataTables.min.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
                <!-- Buttons examples -->
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/dataTables.buttons.min.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.bootstrap4.min.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/jszip.min.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/pdfmake.min.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/vfs_fonts.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.html5.min.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.print.min.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/buttons.colVis.min.js"></script>
                <!-- Responsive examples -->
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/dataTables.responsive.min.js"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/datatables/responsive.bootstrap4.min.js"></script>

                <!-- Datatable init js -->
                <script src="<%= (auth_data.role == 'super_admin' ) ? process.env.AAP_URL+'public/assets/pages/super_admin_datatables.init.js' : process.env.AAP_URL+'public/assets/pages/admin_datatables.init.js'%>"></script>
                <script src="<%= process.env.AAP_URL %>public/plugins/parsleyjs/parsley.min.js"></script>
                <!-- form validate -->
                <script src="<%= process.env.AAP_URL %>public/plugins/parsleyjs/jquery.validate.min.js"></script>
                <!--ajax form-->
                <script src="<%= process.env.AAP_URL %>public/plugins/ajax-form/jquery.form.min.js"></script>

                <!--sweetalert-->
                <script src="<%= process.env.AAP_URL %>public/plugins/sweet-alert2/sweetalert2.min.js"></script>
                <!-- timepicker-->
                <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script> -->

                <!-- jQuery -->
                <!-- <script src="<%= process.env.AAP_URL %>public/timepicker/jquery/jquery.min.js"></script> -->
                <script src="<%= process.env.AAP_URL %>public/timepicker/js/bootstrap-timepicker.min.js"></script>

                <script>
                    $(document).ready(function () {
                        // $('form').parsley();
                        $('#schedule_time').hide();
                        $('#back').hide();
                        $('#update_schedule_time').hide();
                        $('#update_back').hide();
                        $('#but_save').hide();
                        $('#create_form').validate({ // initialize the plugin
                            errorClass: "error",
                            rules: {
                                schedule_date: {
                                    required: true,
                                },
                                status: {
                                    required: true,
                                },
                                "schedule_time[]": {
                                    required: true,
                                },
                                "start_time[]": {
                                    required: true,
                                },
                                "end_time[]": {
                                    required: true,
                                }

                            },
                            messages: {
                                schedule_date: {
                                    required: 'Select Schedule Date'
                                },
                                status: {
                                    required: 'Select Schedule Status'
                                },
                                "schedule_time[]": {
                                    required: 'Select Schedule Time',
                                },
                                "start_time[]": {
                                    required: 'Select Start Schedule Time',
                                },
                                "end_time[]": {
                                    required: 'Select End Schedule Time',
                                }
                            },
                            highlight: function (element) {
                                $(element).addClass('input_error');
                            },
                            unhighlight: function (element) {
                                $(element).removeClass('input_error');

                            },
                            errorPlacement: function (error, element) {
                                if (element.attr('name') == 'schedule_time[]') {
                                    error.appendTo('#schedule_time_error');
                                }
                                else {
                                    error.insertAfter(element);
                                }
                            }
                        });

                        $('#update_form').validate({ // initialize the plugin
                            errorClass: "error",
                            rules: {
                                schedule_date_update: {
                                    required: true,
                                },
                                update_status: {
                                    required: true,
                                },
                                "schedule_time_update[]": {
                                    required: true,
                                }
                            },
                            messages: {
                                schedule_date_update: {
                                    required: 'Select Schedule Date'
                                },
                                update_status: {
                                    required: 'Select Schedule Status'
                                },
                                "schedule_time_update[]": {
                                    required: 'Select Schedule Time',
                                }
                            },
                            highlight: function (element) {
                                $(element).addClass('input_error');
                            },
                            unhighlight: function (element) {
                                $(element).removeClass('input_error');

                            },
                            errorPlacement: function (error, element) {
                                if (element.attr('name') == 'schedule_time_update[]') {
                                    error.appendTo('#update_schedule_time_error');
                                }
                                else {
                                    error.insertAfter(element);
                                }
                            }
                        });
                    });

                    $(document).ready(function () {
                        $('#create_form').ajaxForm({
                            beforeSubmit: function () {

                            },
                            success: function (data) {
                                $(".input").val("");
                                if (data.success == 1) {
                                    $(".create_modal").modal("hide");
                                    $("input[name*='schedule_time']:checked").prop('checked', false);
                                    
                                    
                                    alert_msg("success", data.message);
                                   
                                    get_data(data.data);
                                    location.reload(true);
                                } else {
                                    alert_msg("error", data.message);
                                }
                            },
                            complete: function (xhr) {

                            }
                        });
                    });

                    function show_schedual_time(therapist_schedule_id){

                         $.ajax({
                                url: "<%= process.env.AAP_URL %>therapist/schedule/" + therapist_schedule_id,
                                type: "get",
                                dataType: "json",
                                success: function (data) {
                                    if (data.success == 1) {
                                        $("#Modal_schedule_time").modal('show');
                                        var array = "";
                                        data.data.forEach(val => {
                                            const time1 = JSON.stringify(val.schedule);
                                            const s_time = JSON.parse(time1);

                                            array += '<div class="col-4"><div class="form-group"><input type="checkbox" checked class="btn-check"><label class="btn btn-outline-success">'+s_time+'</label></div></div>';
                                        });
                                        $("#therapist_time").html(array);
                                        //alert_msg("success", data.message);
                                    } else {
                                        alert_msg("error", data.message);
                                    }
                                }
                            }); 
                    }


                    function delete_data(therapist_schedule_id) {
                        swal({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonClass: 'btn btn-success',
                            cancelButtonClass: 'btn btn-danger m-l-10',
                            confirmButtonText: 'Yes, delete it!'
                        }).then(function () {
                            $.ajax({
                                url: "<%= process.env.AAP_URL %>therapist/schedule/delete/" + therapist_schedule_id,
                                type: "get",
                                dataType: "json",
                                success: function (data) {
                                    if (data.success == 1) {
                                        get_data(data.data);
                                        alert_msg("success", data.message);
                                        location.reload(true);
                                    } else {
                                        alert_msg("error", data.message);
                                    }
                                }
                            });
                        });
                    }

                    function edit_data(edit_id) {

                        $("input[name*='schedule_time']:checked").prop('checked', false);
                        var schedule_time_update = document.querySelectorAll('input[name*="schedule_time_update"]:not(:checked)');
                        $(".input").val("");
                        $("#update_schedule_time").hide();
                        $("#update_time").show();
                        $("#update_append_timebox").html("");
                        
                        $.ajax({
                            url: "<%= process.env.AAP_URL %>therapist/schedule/edit/" + edit_id,
                            type: "get",
                            dataType: "json",
                            success: function (data) {
                               if(data.success == 1){

                                    $("#update_schedule_date").val(data.data.schedule_date);
                                    $("#update_status").val(data.data.status);
                                    $("#update_id").val(data.data.id);
                                    var html = "";
                                    $.each(data.data.schedule_time, function(key, val){
                                        html += '<div class="col-4"><div class="form-group"><input type="checkbox" checked class="btn-check" name="schedule_time_update[]" id="'+val['id']+'" value="'+val['schedule']+'" autocomplete="off"><label class="btn btn-outline-success">'+val['schedule']+'</label><button class="btn btn-outline-danger" type="button" id="'+val['id']+'" style="margin-top: -8px;" onclick="remove_schedule('+val['id']+','+val['schedule_id']+')">x</button></div></div>';
                                    });
                                    $("#append_schedule").html(html);

                                    $(".update_modal").modal("show");
                                    
                                } else {
                                    alert_msg("error", data.message);
                                }

                            }
                        });
                    }


                    function remove_schedule(id,schedule_id){
                        swal({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonClass: 'btn btn-success',
                            cancelButtonClass: 'btn btn-danger m-l-10',
                            confirmButtonText: 'Yes, delete it!'
                        }).then(function () {
                            $.ajax({
                                url: "<%= process.env.AAP_URL %>therapist/schedule/delete_schedule",
                                type: "post",
                                data: { schedule_id:schedule_id,schedule_time_id:id },
                                dataType: "json",
                                success: function (data) {
                                    if (data.success == 1) {
                                        var html = "";
                                        $.each(data.data, function(key, val){
                                        html += '<div class="col-4"><div class="form-group"><input type="checkbox" checked class="btn-check" name="schedule_time_update[]" id="'+val['id']+'" value="'+val['schedule']+'" autocomplete="off"><label class="btn btn-outline-success">'+val['schedule']+'</label><button class="btn btn-outline-danger" type="button" id="'+val['id']+'" style="margin-top: -8px;" onclick="remove_schedule('+val['id']+','+val['schedule_id']+')">x</button></div></div>';
                                    });
                                    $("#append_schedule").html(html);
                                        alert_msg("success", data.message);
                                    } else {
                                        alert_msg("error", data.message);
                                    }
                                }
                            });
                        });
                    }


                    function get_data(data) {
                        var data_table = $('#datatable-buttons').DataTable();
                        data_table.clear().draw();
                        $.each(data, function (index, value) {
                            var status_html = '';
                            var action = '<button type="submit" class="btn btn-outline-warning waves-effect waves-light" onclick="edit_data(' + "'" + value.id + "'" + ')" data-toggle="tooltip" data-placement="top" title="Edit"><i class="far fa-edit"></i></button>';
                            action += ' <button type="submit" class="btn btn-outline-danger waves-effect waves-light" onclick="delete_data(' + "'" + value.id + "'" + ')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="far fa-trash-alt"></i></button>';
                            if (value.status == 1) {
                                status_html = '<span class="badge badge-success" style="font-size: 120%;">Active</span>';
                            } else {
                                status_html = '<span class="badge badge-danger" style="font-size: 120%;">Inactive</span>';
                            }
                            var show_schedual_time = '<button type="submit" class="btn btn-outline-primary waves-effect waves-light " data-toggle="" onclick="show_schedual_time(' + "'" + value.id + "'" + ')" data-placement="top" title="Schedule time"><i class="fas fa-calendar-alt"></i></button>';
                            data_table.row.add([value.id, value.schedule_date, show_schedual_time, status_html, action]).draw(false);
                        });
                    }
                    $(document).ready(function () {
                        $('#update_form').ajaxForm({
                            beforeSubmit: function () {
                            },
                            success: function (data) {
                                $(".input").val("");
                                $("input[name*='schedule_time']:checked").prop('checked', false);
                                if (data.success == 1) {
                                    $(".update_modal").modal("hide");
                                    get_data(data.data);
                                    alert_msg("success", data.message)
                                    
                                    // location.reload(true); 
                                } else {
                                    alert_msg("error", data.message);
                                }
                            },
                            complete: function (xhr) {

                            }
                        });
                    });
                    function alert_msg(status, msg) {
                        //(success,danger)
                        if (status != "success") {
                            status = "danger";
                        }
                        var html = '';
                        html += '<div class="alert alert-' + status + ' alert-dismissible fade show" id="alert_success" role="alert">';
                        html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
                        html += '<span aria-hidden="true">&times;</span>';
                        html += '</button>';
                        html += '<div class="msg">' + msg + '</div>';
                        html += '</div>';
                        $("#alert_msg").html(html);
                        $("#alert_msg").show();
                        setTimeout(function () {
                            $('#alert_msg').hide();
                        }, 5000);
                    }

                    function timepicker() {
                        $('#time').hide();
                        $('#picker').hide();

                        $('#schedule_time').show();
                        $('#back').show();
                        $('#append_timebox').show();
                    }

                    function update_timepicker() {
                        $('#update_time').hide();
                        $('#update_picker').hide();

                        $('#update_schedule_time').show();
                        $('#update_back').show();
                        $('#update_append_timebox').show();


                    }

                    var counter = 2;
                    $(document).ready(function () {
                        $("#add1").click(function () {
                            if (counter > 10) {
                                alert("Only 10 textboxes allow");
                                return false;
                            }
                            // $('#append_timebox').append('<div class="row" id="schedule_time"><div class="col-5"><div class="form-group"><input id="timepkr1" name="custom_start_time[]" style="width:85%;float:left;" class="form-control multi_choice" placeholder="HH:MM" /><button type="button" class="form-control btn btn-primary" onclick="showpickers1('+"multi_choice"+',12)" style="width:15%;float:left;"><i class="far fa-clock"></i></i></div><div class="timepicker2"></div></div><div class="col-5"><div class="form-group"><input id="timepkr" name="custom_end_time[]" style="width:85%;float:left;" class="form-control multi_choices" placeholder="HH:MM" /><button type="button" class="form-control btn btn-primary" onclick="showpickers1('+"multi_choices"+',12)" style="width:15%;float:left;"><i class="far fa-clock"></i></i></div><div class="timepicker"></div></div><div class="col-1"><div class="form-group"><button id="remove" class="form-control input">x</button></div></div></div>');
                            $("#append_timebox").append('<div class="row" id="timestamp"><div class="col-5"><div class="form-group"><div class="input-group bootstrap-timepicker timepicker"><input name="start_time[]" type="text" class="form-control input timepicker1' + counter + '" required><div class="input-group-addon input-group-text"><i class="far fa-clock clock-time "></i></div></div></div><div id="start_time_error" style="color: red;"></div></div><div class="col-5"><div class="form-group"><div class="input-group bootstrap-timepicker timepicker"><input name="end_time[]" type="text" class="form-control input timepicker2' + counter + '" required><div class="input-group-addon input-group-text"><i class="far fa-clock clock-time"></i></div></div></div><div id="end_time_error" style="color: red;"></div></div><div class="col-1"><div class="form-group"><div class="input-group-addon"><button id="remove" class="form-control input">x</button></div></div></div></div>');
                            //$('#append_timebox').clone().appendTo('#append_timebox');


                            $('.timepicker1' + counter).timepicker({
                                minuteStep: 5,
                                showInputs: false,
                                disableFocus: true,
                                defaultTime: '',
                            });
                            $('.timepicker2' + counter).timepicker({
                                minuteStep: 5,
                                showInputs: false,
                                disableFocus: true,
                                defaultTime: '',
                            });
                            counter++;
                        });

                        $(document).on('click', '#remove', function () {
                            $(this).closest('#timestamp').remove();
                            counter--;
                        });


                        $('.timepicker1').timepicker({
                            minuteStep: 5,
                            showInputs: false,
                            disableFocus: true,
                            defaultTime: '',
                        });
                        $('.timepicker2').timepicker({
                            minuteStep: 5,
                            showInputs: false,
                            disableFocus: true,
                            defaultTime: '',
                        });

                        $("form[name='start_time']").validate({
                            rules: {
                                "start_time[]": "required"
                            },
                            message: {
                                "start_time[]": "Choose date"
                            }
                        });
                    })

                    $(document).ready(function () {
                        $("#add2").click(function () {
                            if (counter > 10) {
                                alert("Only 10 textboxes allow");
                                return false;
                            }
                            // $('#append_timebox').append('<div class="row" id="schedule_time"><div class="col-5"><div class="form-group"><input id="timepkr1" name="custom_start_time[]" style="width:85%;float:left;" class="form-control multi_choice" placeholder="HH:MM" /><button type="button" class="form-control btn btn-primary" onclick="showpickers1('+"multi_choice"+',12)" style="width:15%;float:left;"><i class="far fa-clock"></i></i></div><div class="timepicker2"></div></div><div class="col-5"><div class="form-group"><input id="timepkr" name="custom_end_time[]" style="width:85%;float:left;" class="form-control multi_choices" placeholder="HH:MM" /><button type="button" class="form-control btn btn-primary" onclick="showpickers1('+"multi_choices"+',12)" style="width:15%;float:left;"><i class="far fa-clock"></i></i></div><div class="timepicker"></div></div><div class="col-1"><div class="form-group"><button id="remove" class="form-control input">x</button></div></div></div>');
                            $("#update_append_timebox").append('<div class="row" id="timestamp"><div class="col-5"><div class="form-group"><div class="input-group bootstrap-timepicker timepicker"><input name="start_time[]" type="text" class="form-control input timepicker1' + counter + '" required><div class="input-group-addon input-group-text"><i class="far fa-clock clock-time "></i></div></div></div><div id="start_time_error" style="color: red;"></div></div><div class="col-5"><div class="form-group"><div class="input-group bootstrap-timepicker timepicker"><input name="end_time[]" type="text" class="form-control input timepicker2' + counter + '" required><div class="input-group-addon input-group-text"><i class="far fa-clock clock-time"></i></div></div></div><div id="end_time_error" style="color: red;"></div></div><div class="col-1"><div class="form-group"><div class="input-group-addon"><button id="remove" class="form-control input">x</button></div></div></div></div>');
                            //$('#append_timebox').clone().appendTo('#append_timebox');


                            $('.timepicker1' + counter).timepicker({
                                minuteStep: 5,
                                showInputs: false,
                                disableFocus: true,
                                defaultTime: '',
                            });
                            $('.timepicker2' + counter).timepicker({
                                minuteStep: 5,
                                showInputs: false,
                                disableFocus: true,
                                defaultTime: '',
                            });
                            counter++;
                        });

                        $(document).on('click', '#remove', function () {
                            $(this).closest('#timestamp').remove();
                            counter--;
                        });


                        $('.timepicker1').timepicker({
                            minuteStep: 5,
                            showInputs: false,
                            disableFocus: true,
                            defaultTime: '',
                        });
                        $('.timepicker2').timepicker({
                            minuteStep: 5,
                            showInputs: false,
                            disableFocus: true,
                            defaultTime: '',
                        });

                        $("form[name='start_time']").validate({
                            rules: {
                                "start_time[]": "required"
                            },
                            message: {
                                "start_time[]": "Choose date"
                            }
                        });
                    })

                    function backlobby() {
                        $('#time').show();
                        $('#picker').show();

                        $('#schedule_time').hide();
                        $('#back').hide();
                        $('#append_timebox').hide();
                    }
                    

                    function update_backlobby() {
                        $('#update_time').show();
                        $('#update_picker').show();

                        $('#update_schedule_time').hide();
                        $('#update_back').hide();
                        $('#update_append_timebox').hide();

                    }

                    
                </script>