<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->
    <link href="<%= process.env.AAP_URL %>public/assets/css/bootstrap5.0.2.min.css" rel="stylesheet" type="text/css">

    <!-- Dropzone css -->
    <link href="<%= process.env.AAP_URL %>public/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">

    <!--tagsinput css-->
    <link rel="stylesheet" href="<%= process.env.AAP_URL %>public/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css"
        crossorigin="anonymous">

    <style>
        .bootstrap-tagsinput {
            width: 100%;
        }
    </style>
    <%- contentFor('body') %>
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">My Profile</h4>
                            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="<%= process.env.AAP_URL %>admin/cms">CMS</a></li>
                                <li class="breadcrumb-item active">Create CMS</li>
                            </ol> -->

                        </div>
                    </div>
                </div>
                <!-- end row -->
                <!-- alert_msg -->
                <div id="alert_msg" <% if(!msg_alert){ %> style="display: none;" <% } %>>
                        <div class="alert alert-<% if(msg_alert){ %><%= (msg_alert.type) ? 'success' : 'danger'  %> <% } %> alert-dismissible fade show"
                            id="alert_success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="msg">
                                <% if(msg_alert){ %>
                                    <%= (msg_alert.message) ? msg_alert.message: '' %>
                                        <% } %>
                            </div>
                        </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">My Profile</h4>
                                <form class="" id="my_profile" method="post" enctype="multipart/form-data"
                                    action="<%= process.env.AAP_URL %>therapist/myprofile">
                                    <div class="row">
                                        <div class="col-12" style="text-align: center;">
                                            <img class="img-thumbnail rounded-circle" alt="200x200"
                                                src="<%= process.env.AAP_URL %><%=(auth_data.profile_image) ? 'images/'+auth_data.profile_image : 'public/assets/images/users/user-4.jpg' %>"
                                                data-holder-rendered="true" style="width: 12%;">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>User Name</label>
                                                <input type="text" class="form-control" name="user_name"
                                                    value="<%= auth_data.f_name %>" placeholder="User Name" readonly>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>User Email</label>
                                                <input type="email" class="form-control" name="user_email"
                                                    value="<%= auth_data.email %>" placeholder="User Email" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>User Mobile</label>
                                                <div class="row">
                                                    <div class="col-4
                                                    " style="margin-right: -6%; width: auto">
                                                        <select  class="form-control country_code" name="country_code"
                                                        id="country_code" readonly>
                                                        <option value="<%= auth_data.country_code %>">+<%= auth_data.country_code %></option>
                                                    </select>
                                                    </div>
                                                    <div class="col-8">
                                                        <input type="text" class="form-control" data-parsley-type="digits"
                                                        maxlength="10" pattern="\d{10}" title="Please enter exactly 10 digits" data-parsley-pattern-message="Please Enter Only 10 digits" name="mobile"
                                                        value="<%= auth_data.mobile %>" placeholder="User Mobile" style="width: 108%;">
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Therapist type</label>
                                                <input type="text" class="form-control" name="therapist_type"
                                                    value="<%= data.therapist_type %>" placeholder="Therapist type"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <select  class="form-control country"  name="country" readonly>
                                                            <option value="<%= data.country_id %>" > <%= data.countries_name %> </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>State</label>
                                                        <select  class="form-control state"  name="state" readonly>
                                                            <option value="<%= data.state_id %>" ><%= data.states_name %></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Hourly price</label>
                                                <input type="text" class="form-control" name="hourly_price"
                                                    value="$ <%= data.hourly_price %>" placeholder="Hourly price"
                                                    readonly>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Shivyog share</label>
                                                <input type="text" class="form-control" name="shivyog_share"
                                                    value="<%= data.shivyog_share %>%" placeholder="Shivyog share"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-6">
                                            <label>Gender</label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gender"
                                                            id="male" value="male" <%=(!data) ? 'checked' :
                                                            data.gender=='male' ? 'checked' : '' %> >
                                                        <label class="form-check-label" for="male">
                                                            Male
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gender"
                                                            id="female" value="female" <%=(!data) ? '' :
                                                            data.gender=='female' ? 'checked' : '' %> >
                                                        <label class="form-check-label" for="female">
                                                            Female
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Language spoken</label>
                                                <div class="form-group">
                                                    <% if(data) { 
                                                        if(data.language)
                                                        { %>
                                                        <% if(data.language.includes("English")) { %>
                                                            <input type="checkbox" class="btn-check" name="language[]"
                                                                id="english_lan" value="English" autocomplete="off"
                                                                checked disabled>
                                                            <label class="btn btn-outline-success"
                                                                for="english_lan">English</label>
                                                            <% } %>
                                                                <% if(data.language.includes("Hindi")) { %>
                                                                    <input type="checkbox" class="btn-check"
                                                                        name="language[]" id="hindi_lan" value="Hindi"
                                                                        autocomplete="off" checked disabled>
                                                                    <label class="btn btn-outline-success"
                                                                        for="hindi_lan">Hindi</label>
                                                                    <% } %>
                                                                        <% if(data.language.includes("French")) { %>
                                                                            <input type="checkbox" class="btn-check"
                                                                                name="language[]" id="french_lan"
                                                                                value="French" checked
                                                                                autocomplete="off" disabled>
                                                                            <label class="btn btn-outline-success"
                                                                                for="french_lan">French</label>
                                                                            <% } %>
                                                                                <% } %>
                                                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Expertise</label>
                                                <div class="form-group">
                                                    <% if(data) { 
                                                        if(data.expertise)
                                                        { %>
                                                        <% if(data.expertise.includes("ShivYog Cosmic Therapy")) { %>
                                                            <input type="checkbox" class="btn-check" name="expertise[]"
                                                                id="cosmic_therapy_expertise"
                                                                value="ShivYog Cosmic Therapy" autocomplete="off"
                                                                checked disabled>
                                                            <label class="btn btn-outline-success"
                                                                for="cosmic_therapy_expertise">ShivYog Cosmic
                                                                Therapy</label>
                                                            <% } %>
                                                                <% if(data.expertise.includes("ShivYog Cognitive Therapy")) { %>
                                                                    <input type="checkbox" class="btn-check"
                                                                        name="expertise[]"
                                                                        id="cognitive_therapy_expertise"
                                                                        value="ShivYog Cognitive Therapy"
                                                                        autocomplete="off" checked disabled>
                                                                    <label class="btn btn-outline-success"
                                                                        for="cognitive_therapy_expertise">ShivYog
                                                                        Cognitive
                                                                        Therapy</label>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Educational Qualification</label>
                                                <textarea class="form-control" name="user_education" required
                                                    placeholder="User Educational"><%= (data) ?  data.education : ''%></textarea>
                                            </div>
                                        </div> 
                                    </div>-->
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Experience</label>
                                                <div class="form-group">
                                                                    <% var abc =JSON.stringify (data.experience);
                                                                            var exp_thera = abc.split(',');  %>
                                                            <input type="checkbox" class="btn-check" name="experience[]"
                                                                id="therapy_experience"
                                                                value="ShivYog therapy Experience" autocomplete="off"
                                                                checked disabled>
                                                            <label class="btn btn-outline-success"
                                                                for="therapy_experience"> ShivYog therapy Experience <%= exp_thera[1] %> Yrs</label>
                                                                    <input type="checkbox" class="btn-check"
                                                                        name="experience[]"
                                                                        id="cosmic_therapy_experience"
                                                                        value="ShivYog Cosmic therapy Experience"
                                                                        checked autocomplete="off" disabled>
                                                                    <label class="btn btn-outline-success"
                                                                        for="cosmic_therapy_experience">ShivYog Cosmic therapy Experience <%= exp_thera[4] %> Yrs</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Profile Image</label>
                                                <input type="file" class="filestyle" name="profile_img"
                                                    data-input="false" data-buttonname="btn-secondary">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Joining Date </label>
                                                <input type="text" class="form-control" name="shivyog_share"
                                                    value="<%= new Date(auth_data.created_at).toISOString().substr(0, 10) %>"
                                                    placeholder="Shivyog share" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label>Therapist Role</label>
                                                <select class="form-control input" name="therapist_role"
                                                    id="therapist_role" readonly >
                                                    <option><%= (data.therapist_role != "") ? data.therapist_role : '' %></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <button type="submit"
                                                class="btn btn-primary waves-effect waves-light">Submit</button>
                                            <a  href="<%= process.env.AAP_URL %>therapist"
                                                class="btn btn-secondary waves-effect m-l-5">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- content -->

        <%- contentFor('FooterJs') %>
            <!-- filestyle js -->
            <script
                src="<%= process.env.AAP_URL %>public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
            <!--tagsinput js -->
            <script src="<%= process.env.AAP_URL %>public/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"
                crossorigin="anonymous"></script>
            <!-- Parsley js -->
            <script src="<%= process.env.AAP_URL %>public/plugins/parsleyjs/parsley.min.js"></script>
            <!--ajax form-->
            <script src="<%= process.env.AAP_URL %>public/plugins/ajax-form/jquery.form.min.js"></script>
            <!--Wysiwig js-->
            <script src="<%= process.env.AAP_URL %>public/plugins/tinymce/tinymce.min.js"></script>
            <!-- form validate -->
            <script src="<%= process.env.AAP_URL %>public/plugins/parsleyjs/jquery.validate.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/additional-methods.js"></script>
            <script>
                
                $(document).ready(function () {
                    $('form').parsley();
                });
                country_codelist();
                $.validator.addMethod('filesize', function (value, element, param) {
                    return this.optional(element) || (element.files[0].size <= param)
                }, 'File size must be less than 2MB');
                $('#my_profile').validate({ 
                            rules: {
                                profile_img: {
                                    required: true,
                                    extension: "jpg,jpeg",
                                    filesize : 2 * 1024 * 1024,
                                }
                            },
                            messages: {
                                profile_img: {
                                    required: 'File is too Large'
                                }
                            }
                        });
                $(document).ready(function () {
                    setTimeout(function () {
                        $('#alert_msg').hide();
                    }, 5000);
                });
                $(document).ready(function () {
                    $('#my_profile').ajaxForm({
                        beforeSubmit: function () {

                         },
                        success: function (data) {
                            if (data.success == 1) {
                                /* alert_msg("success", data.message); */
                                location.reload();
                            } else {
                                alert_msg("error", data.message);
                            }
                        },
                        error: function(error)
                        {

                        },
                        complete: function (xhr) {
                        }
                    });
                });


                function country_codelist() {
                    $.get('<%= process.env.AAP_URL %>therapist/country_code',
                    {},
                    function(data){
                        if(data.success == 1)
                        {                          
                          
                              var  html = '<option value="'+data.phonecode+'">+'+data.phonecode+'</option>';
                    
                             $(".country_code").append(html);
                          }
                    },
                    'json');
                }
                function alert_msg(status, msg) {
                    //(success,danger)
                    if (status != "success") {
                        status = "danger";
                    }
                    var html = '';
                    html += '<div class="alert alert-' + status + ' alert-dismissible fade show" id="alert_success" role="alert">';
                    html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
                    html += '<span aria-hidden="true">&times;</span>';
                    html += '</button>';
                    html += '<div class="msg">' + msg + '</div>';
                    html += '</div>';
                    $("#alert_msg").html(html);
                    $("#alert_msg").show();
                    setTimeout(function () {
                        $('#alert_msg').hide();
                    }, 5000);
                }
            </script>