<% include ../Partials/HeaderRoot %>
    <div class="wrapper-page">
        <style>
            .input-group .parsley-errors-list {
                position: absolute;
                margin-top: 9%;
            }
    
            .error {
                font-size: 12px;
                list-style: none;
                color: #ec536c;
            }
        </style>
        <div class="card">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="/" class="logo logo-admin"><img
                            src="<%= process.env.AAP_URL %>public/assets/images/logo.png" height="30" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center">Welcome Back !</h4>
                    <p class="text-muted text-center">Sign in to cosmic therapy website.</p>

                    <% if(status!='' ){ %>

                        <div class="alert alert-<%= status %>  alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= message %>
                        </div>

                        <% } %>
                            <form class="form-horizontal m-t-30" id="login" method="post" action="<%= process.env.AAP_URL %>login">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="email" class="form-control" name="email" id="username" 
                                        placeholder="Enter Email">
                                </div>

                                <div class="form-group">
                                    <label for="userpassword">Password</label>
                                    <div>
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="password"
                                                id="userpassword"  placeholder="Enter password" >
                                            <div class="input-group-append" id="conpassword_eye">
                                                <span class="input-group-text"><i class="mdi mdi-eye"></i></span>
                                            </div>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                                <div class="form-group row m-t-20">
                                    <div class="col-6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"
                                                id="customControlInline">
                                            <label class="custom-control-label" for="customControlInline">Remember
                                                me</label>
                                        </div>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log
                                            In</button>
                                    </div>
                                </div>

                                <div class="form-group m-t-10 mb-0 row">
                                    <div class="col-12 m-t-20">
                                        <a href="<%= process.env.AAP_URL %>forgot-password" class="text-muted"><i
                                                class="mdi mdi-lock"></i> Forgot your password?</a>
                                    </div>
                                </div>
                            </form>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <!--  <p>Don't have an account ? <a href="pages-register.html" class="text-primary"> Signup Now </a> </p> -->
            <!--  <p>© 2018 Lexa. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p> -->
        </div>

    </div>

    <% include ../Partials/FooterRoot %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script>

        $.validator.addMethod("regx", function (value, element, regexpr) {
            return regexpr.test(value);
        }, "<em>A minimum 8 characters password contains a combination of one <strong>uppercase and lowercase letter</strong> and one <strong>number</strong> and one <strong>Special character</strong>.</em>");

        $("#login").validate({
            rules: {
                email: {
                    required: true,
                },
                password: {
                    required: true,
                    regx: /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/
                }
            },
            messages: {
                password: {
                    required: "<em>A minimum 8 characters password contains a combination of one <strong>uppercase and lowercase letter</strong> and one <strong>number</strong> and one <strong>Special character</strong>.</em>",
                },
                email: {
                    required: "Please enter a valid email address",
                } 
            },
            errorPlacement: function (error, element) {
                $(element).parents('.form-group').append(error);     
            }
        });    

            $(document).ready(function () {
                $("#conpassword_eye").click(function () {
                    if ($("#userpassword").attr("type") === "password") {
                        $("#userpassword").attr("type", "text");
                        $(this).html('<span class="input-group-text"><i class="mdi mdi-eye-off"></i></span>');
                    } else {
                        $("#userpassword").attr("type", "password");
                        $(this).html('<span class="input-group-text"><i class="mdi mdi-eye"></i></span>');
                    }
                });
            });
        </script>